* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: arial, sans-serif;
  background: #202124;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header nav {
  display: flex;
  justify-content: flex-end;
  min-height: 6.15vh;
  padding: 6px;
  padding-right: 14px;
}

header nav .nav-right-section {
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

header nav .icons li {
  margin-left: 8px;
}

header nav .links li {
  margin-right: 10px;
}

header nav .links li:nth-child(1) {
  margin-right: 15px;
}

nav .nav-right-section a {
  color: #ffffff;
}

nav .links a:hover {
  text-decoration: underline;
}

nav .nav-right-section .apps-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section .apps-icon svg {
    fill:rgba(255,255,255,0.87);
}

nav .nav-right-section .apps-icon:hover {
  background-color: rgba(232, 234, 237, 0.08);
  border-radius: 50%;
}

nav .nav-right-section .profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

nav .nav-right-section .profile-picture:hover {
  background-color: rgba(232, 234, 237, 0.08);
  border-radius: 50%;
}

nav .nav-right-section .profile-picture img {
  width: 80%;
  border-radius: 50%;
}

nav .nav-right-section .apps-icon {
  padding: 8px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83.85vh;
}

main .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 290px;
    min-height: 90px;
}

main .logo picture {
    height: 92px;
    min-width: 272px;
}

main .logo picture img {
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 18px;
}

.search-bar .search-bar-container {
    width: 100%;
    max-width: 584px;
    min-width: 272px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #5f6368 solid;
    border-radius: 24px;
    padding: 14px;
}

.search-bar .search-bar-container:hover {
    background: #303134;
    box-shadow: 0 1px 6px 0 #171717;
    border-color: rgba(223, 225, 229, 0);
}

.search-bar .search-bar-container .search-icon {
    height: 20px;
    width: 20px;
    margin-right: 13px;
}

.search-bar .search-bar-container input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: #e8eaed;
    font-size: 1.6rem;
}

.search-bar .search-bar-container .mic-icon img {
    height: 24px;
    width: 24px;
}

main .buttons {
  display: flex;
  justify-content: center;
  width: 530px;
  margin-top: 11px;
}

main .buttons button {
  height: 36px;
  background: #303134;
  color: #e8eaed;
  border: 1px #303134 solid;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  margin: 0 6px
}

main .buttons button:hover {
  border: 1px #5f6368 solid;
  box-shadow: 0 1px 3px rgba(23,23,23,0.24);
}

footer {
  display: flex;
  flex-direction: column;
  background: #171717;
}

footer .footer-country {
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px #212327 solid;
}

footer .footer-country p {
  font-size: 1.5rem;
  color: #9aa0a6;
}

footer .footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

footer .footer-links ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

footer .footer-links li {
  padding: 15px;
}

footer .footer-links a {
  color: #999da2;
  font-size: 1.4rem;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  footer .footer-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}